* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

h3 {
    color: rgb(15, 134, 2);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

input {
    display: block;
    border: 1px solid grey;
}